.calculator_body{
    background-color: grey;
    width:30%;
    height: 452px;
    display: inline-block;
    border: 1px solid black;
}
.calculator_display {
    width:96%;
    height:20%;
    vertical-align: top;
    background-color: blue;
    margin: 11px auto;
}
.button_body{
    margin:10px;
}
.clear_keys{
  width: 80%;
    display: inline-block;
}
.clear_buttons{
    width:49%;
    height:50px
}
.numeric_keys{
    width: 80%;
    float:left;
    display: inline-block;
}
.numeric_buttons{
    width:32%;
    height:66px;
    border-radius: 100%;
    outline: none;
}
.arithmetic_functions{
    width:20%;
    float:right;
    display:inline-block;
}
.arithmetic_buttons{
    width:100%;
    height:71px;
}
#addition_button{
    height:100px;
}
.numeric_buttons, .arithmetic_buttons, .clear_buttons{
    font-size:32px;
    font-weight: 800;
}